/*satır stili*/
.row {
    display: flex;
    height: 18vh;
    justify-content: center;
    flex-direction: row;
}

/* Hücre stili*/
.cell {
    display: flex;
    width: 18vh;
    border: 2px solid black;
    text-align: center;
    padding: 4px;
    align-self: hover;
    background-color: rgb(185, 7, 7);
}

/*hücre mesafesi stili*/
.cell span {
    margin: auto;
    font-size: 5rem;
    font-family: cursive;
}

.cell:hover {
    background-color: #db0909f2;
}

/*body stili*/
body {
    background-color: rgb(218, 43, 43);
    margin: 0px;
}

/*skor tablosu X'in stili*/
h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 4em;
    margin-top: 0px;
    background-color: cadetblue;
}

/*skor tablosu O'nun stili*/
h2 {
    text-align: center;
    font-family: sans-serif;
    font-size: 4em;
    margin-top: 0px;
    margin-bottom: 10px;
    background-color: cadetblue;
    display: flex;
    margin-right: 1100px;
    justify-content: space-around;
}

h3 {
    text-align: center;
    font-family: sans-serif;
    font-size: 4em;
    background-color: cadetblue;
    display: flex;
    min-width: 25rem;
    justify-content: space-around;
}


button {
    width: 190px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: flex-start;
    background: darksalmon;
}

h3#Os {
    bottom: 0px;
    position: absolute;
    margin: 0;

}

h3#Xs {
    bottom: 85px;
    position: absolute;
    margin: 0;


}

#newgamebtn {
    bottom: 250px;
    position: absolute;
    left: 0px;
}